html, body{
  -webkit-perspective: 1200px;
  -webkit-transform-style: preserve-3d;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.face{
  height: 70%;
  width: 70%;
  background-color: red;
  position:absolute;
}

table, tr, td{
  height: 100%;
  width: 100%;
}
#origin{
  position:absolute;
  height: 100%;
  width: 100%;
}

.headerBar{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.footerBar{

}

.leftBar{
  float:left;
}

.rightBar{
  float: right;
}

.content{
  margin-left:auto;
  margin-right:auto;
  width:200px;
}

#front{
  background-color:red;
}
#left{
  background-color:orange;
}
#right{
  background-color:yellow;
}
#back{
  background-color:green;
}
#top{
  background-color:blue;
}
#bottom{
  background-color:black;
}